.modal-header
  background-color: $f8
  border-bottom: 1px solid $dd
  padding: 15px

  i
    float: right
    cursor: pointer

.modal-body
  padding: 15px

  .modal-body-left
    width: 70%
    float: left

  .modal-body-right
    width: 30%
    float: right

    input[type=file]
      display: none

    label
      cursor: pointer
      font-size: 72px
      color: $g88
      .modal-image-preview
        width: 100%


.modal-footer
