<div class="inventory-header-row">
  <div class="header-row-cell">sku {{{sortCaret sortedBy reversed "sku"}}}</div>
  <div class="header-row-cell">name {{{sortCaret sortedBy reversed "name"}}}</div>
  <div class="header-row-cell">category {{{sortCaret sortedBy reversed "category"}}}</div>
  <div class="header-row-cell">quantity {{{sortCaret sortedBy reversed "quantity"}}}</div>
</div>
<div id="inventory-items-container"></div>
