<div class="modal-header">
  Edit Item
  <i class="fa fa-close close" />
</div>

<div class="modal-body">
  <div class="modal-body-left">
    <ul>
      <li><span>Name</span>{{name}}</li>
      <li><span>SKU</span>{{sku}}</li>
      <li><span>Category</span>{{category}}</li>
      <li><span>Quantity</span>{{quantity}}</li>
    </ul>
  </div>
  <div class="modal-body-right">
    image here.
  </div>
</div>

<div class="modal-footer">
</div>