<div class="database-row">
    <div class="database-item-col">
      {{sku}}
    </div>
    <div class="database-item-col">
      {{name}}
    </div>
    <div class="database-item-col">
      {{category}}
    </div>
    <div class="database-item-col">
      {{quantity}}
    </div>
</div>