<div class="btn btn-add"><i class="fa fa-plus" /> Add</div>
<div class="btn btn-edit"><i class="fa fa-pencil" /> Edit</div>
<div class="btn btn-search"><i class="fa fa-search" /> Search</div>
<div class="btn btn-filter"><i class="fa fa-filter" /> Filter</div>
