<div class="database-header-row">
  <div class="header-row-cell">SKU</div>
  <div class="header-row-cell">Name</div>
  <div class="header-row-cell">Category</div>
  <div class="header-row-cell">Quantity</div>
</div>
<div id="database-items-container"></div>