<div class="database-header-row">
  <div class="header-row-cell">sku</div>
  <div class="header-row-cell">name</div>
  <div class="header-row-cell">category</div>
  <div class="header-row-cell">quantity</div>
</div>
<div id="database-items-container"></div>