<div class="btn btn-add"><i class="fa fa-plus" /> Add</div>
<div class="btn btn-edit"><i class="fa fa-pencil" /> Edit</div>
<div class="btn btn-filter"><i class="fa fa-filter" /> Filter</div>
<div class="btn btn-refresh"><i class="fa fa-refresh" /> Refresh</div>
<label for="search-toggle" class="btn btn-search"><i class="fa fa-search" /> Search</label>
<input type="checkbox" id="search-toggle" class="search-toggle" />
<input type="text" class="search-bar" placeholder="Enter Term" />
