@import "buttons";

#buttons-region {
  margin-right: 15px;
 .add {
   cursor: pointer;
 }
}

#database-region {
  height: 100%;
  
  .database-container {
    height: 100%;
  }
  
  #table-region {
    width: 90%;
    height: 60%;
    float: right;
    margin-right: 15px;
  }
  
  .database-table {
    height: 100%;
    
    #database-items-container {
      height: calc(100% - 24px);
      overflow: hidden;
      box-shadow: inset 1px -1px 2px rgba(0,0,0,0.1);
      
      &::-webkit-scrollbar {
        width: 6px;
        visibility: hidden;
      }
      
      &:hover {
        overflow-y: auto;
        &::-webkit-scrollbar {
          visibility: visible;
        }
      }
      
      &::-webkit-scrollbar-track {
        background: none;
      }

      &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 4px;
          height: 10px;
          background: rgba(88,88,88,0.3)
      }
      
      &::-webkit-scrollbar-thumb:window-inactive {
        display: none; 
      }
    }
    
    .database-header-row {
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      @include clear-fix;
      font-family: "Roboto Slab";
      font-weight: 300;
      font-size: 16px;
      
      .header-row-cell {
        float: left;
        width: calc(25% - 7px);
        padding: 3px;
        background-color: $g88;
        color: $white;
        cursor: pointer;
        @include disable-select;
        &:not(:last-child) {
          border-right: 1px solid #666;
        }
      }
    }

    .database-row {
      width: 100%;
      height: 25px;
      border-bottom: 1px solid $f4;

      .database-item-col {
        float: left;
        padding: 3px;
        width: calc(25% - 7px);
        &:last-child {
          width: calc(25% - 14px);
        }
        color: $g37;
        border-right: 1px solid $f4;

        &:last-child {
          @include clear-fix;
        }
      }
      i {
        float: right;
        cursor: pointer;
      }

      .save-check-mark {
        &:before {
          @include icon("check-square");
        }

        font-size: 26px;
        position: relative;
        right: -44px;
        top: -2px;
        color: $green;

        &:hover {
          color: $greenHover;
        }
      }
      .fa-trash {
        color: $g88;
      }
    }
  }
}
