<ul>
  <li class="logo">
    <img src="<%= asset_path('logo.png') %>" />
    BuddhaBase
  </li>
  <li class="btn-nav">Inventory</li>
  <li class="btn-nav">Shop</li>
  <li class="btn-nav">FAQ</li>
  <li class="btn-nav">About</li>
</ul>
