<ul>
  <li class="logo">
    <img src="<%= asset_path('logo.png') %>" />
    BuddhaBase
  </li>
  <li class="btn-nav">
    <a href="/inventory/items">Inventory</a>
  </li>
  <li class="btn-nav">
    <a href="/storefront/browse">Shop</a>
  </li>
  <li class="btn-nav">FAQ</li>
  <li class="btn-nav">About</li>
</ul>
