// customize the grid here
$borderWidth: 0px
$borderColor: $cc
$spacing: 30px

// these are calculated for you..
$fullSpace: $spacing - $borderWidth
$halfSpace: ($spacing / 2) - $borderWidth

.container
  position: relative
  margin: $fullSpace
  width: calc(100% - (2 * #{$fullSpace}))
  height: calc(100% - (2 * #{$fullSpace}))

  // border below each container
  // &:not(:first-child):before
  //   content: ""
  //   width: 100%
  //   height: $borderWidth
  //   background-color: $borderColor
  //   display: block
  //   position: relative
  //   bottom: $halfSpace

  .columns,
  .rows
    box-sizing: border-box
    float: left

  .columns
    height: 100%

  .rows
    width: 100%

  .content
    overflow: hidden

  .two.grid.columns
    &:first-child
      margin-right: $halfSpace
      width: calc(50% - #{$halfSpace})

    &:last-child
      border-left: $borderWidth solid $borderColor
      padding-left: $halfSpace + $borderWidth
      width: 50%

  .content.columns
    img
      max-height: 100%
      width: auto

  .content.rows
    img
      max-width: 100%
      height: auto

  .two.content.columns
    &:first-child
      width: calc(50% - #{$halfSpace})
      margin-right: $halfSpace

    &:last-child
      width: 50%
      border-left: $borderWidth solid $borderColor
      padding-left: $halfSpace + $borderWidth

  .three.content.rows
    &:not(:last-child)
      margin-bottom: $halfSpace
      height: calc((100% + #{$borderWidth} - (2 * #{$fullSpace})) / 3)

    &:not(:first-child)
      padding-top: $halfSpace
      border-top: $borderWidth solid $borderColor
      height: calc((100% + #{$borderWidth} - (2 * #{$fullSpace})) / 3 + #{$halfSpace})
