// customize the grid here
$borderWidth: 0px
$borderColor: $cc
$spacing: 4px

// these are calculated for you..
$fullSpace: $spacing - $borderWidth
$halfSpace: ($spacing / 2) - $borderWidth

.container
  position: relative
  margin: $fullSpace
  width: calc(100% - (2 * #{$fullSpace}))
  height: calc(100% - (2 * #{$fullSpace}))

  border below each container
  &:not(:first-child):before
    content: ""
    width: 100%
    height: $borderWidth
    background-color: $borderColor
    display: block
    position: relative
    bottom: $halfSpace

  .column,
  .row
    box-sizing: border-box
    float: left

  .column
    height: 100%

  .row
    width: 100%

  .content
    overflow: hidden

  .two.column.layout
    &:first-child
      margin-right: $halfSpace
      width: calc(50% - #{$halfSpace})

    &:last-child
      border-left: $borderWidth solid $borderColor
      padding-left: $halfSpace + $borderWidth
      width: 50%

  .content.column
    img
      min-height: 100%
      max-height: 100%
      width: auto

  .content.row
    img
      min-width: 100%
      max-width: 100%
      height: auto

  .one.column.content
    width: 100%

    img
      min-width: 100%
      height: auto

  .two.column.content
    &:first-child
      width: calc(50% - #{$halfSpace})
      margin-right: $halfSpace

    &:last-child
      width: 50%
      border-left: $borderWidth solid $borderColor
      padding-left: $halfSpace + $borderWidth

  .three.row.content
    &:not(:last-child)
      margin-bottom: $halfSpace
      height: calc((100% + #{$borderWidth} - (2 * #{$fullSpace})) / 3)

    &:not(:first-child)
      padding-top: $halfSpace
      border-top: $borderWidth solid $borderColor
      height: calc((100% + #{$borderWidth} - (2 * #{$fullSpace})) / 3 + #{$halfSpace})
