@import "skeleton"

.container,
.row,
.column,
.columns
  height: 100%
  width: 100%
  margin: 0

.container.columns,
.container.column
  margin-left: 0

.half.column
  width: calc(50% - 8px)

.half.column:first-child
  margin-right: 7px

.half.column:not(:first-child)
  margin-left: 8px

  &:before
    content: ""
    position: relative
    left: -8px
    height: 100%
    float: left
    border-left: 1px solid $cc

.container
  max-width: calc(100% - 60px)
  max-height: calc(100% - 60px)
  margin: 30px

.container .three.row
  height: calc(33% - 8px)
  margin-bottom: 15px

.three.row:not(:first-child)
  margin-top: 8px
  &:before
    content: ""
    position: relative
    top: -8px
    width: 100%
    display: block
    border-top: 1px solid $cc

.test
  background-color: $ee
  height: 100%
