//colors
$ee: #eeeeee;
$green: #78b770;

//mixins
@mixin clear-fix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin icon($name) {
  font-family: FontAwesome;
  @if $name == "check-square" {
    content: "\f14a"
  }
}
