  <div class="two column layout">
    <div class="one column content">
      <img src="{{Items.[0].image_url}}" />
    </div>
  </div>

  <div class="two column layout">
    <div class="two column content">
      <img src="{{Items.[1].image_url}}" />
    </div>
    <div class="two column content">
      <img src="{{Items.[2].image_url}}" />
    </div>
  </div>
