  <div class="two column layout">
    <div class="one column content">
      <img src="{{Items.[0].image_url}}" />
    </div>
  </div>

  <div class="two column layout">
    <div class="three row content"><img src="{{Items.[2].image_url}}" /></div>
    <div class="three row content"><img src="{{Items.[3].image_url}}" /></div>
    <div class="three row content"><img src="{{Items.[4].image_url}}" /></div>
  </div>
